
    <div class="col-md-4 hide-on-mobile sub-block1">
        <h3>Message Counter </h3>
        <p>
            @if (@MessageCount > 0)
                {
                    <h5>You currently have @MessageCount questions from employees!</h5>
                }
            else
            {
                <h5>No questions from employees! All good!</h5>
            }
        </p>
    </div>