@*<div class="widget">
    <h4>Orders Counter</h4>




<br />
<br />
</div>*@

        <div class="col-md-4 hide-on-mobile sub-block1">
            <h3>Orders Counter </h3>
            <p>
                <h5>There are currently @OrderCounter orders actively reaching out to you!</h5>
            </p>
        </div>
